@import "node_modules/ol/ol.css";
/*You can divide the styles in several css and latter
import them here*/
html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(206, 241, 247); /* Fondo para la pantalla de inicio de sesión */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.container-exterior {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
} 

.container-login {
  width: 400px; /* Set a fixed width for the login container */
  max-width: 90%; /* Allow it to shrink on smaller screens */
  height: auto; /* Auto height based on content */
  padding: 20px; /* Add some padding */
  border-radius: 10px; /* Rounded corners */
} 

.container-interior-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Añadimos una sombra suave para hacer que el formulario resalte */
}

#login-image {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-login-button-container {
  margin-top: 20px;
}

#button-login {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button-login:hover {
  background-color: #3e8e41;
}

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Fondo para el mapa */
}

#map {
  width: 100%;
  height: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}

#user-info {
  margin-right: 20px;
}

#button-logout {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button-logout:hover {
  background-color: #3e8e41;
}

#geometry{
  position: fixed;
  left: 15%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  bottom: 10px;

}

.legend {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  position: fixed;  /* Change to 'fixed' to keep the legend in place while scrolling */
  bottom: 20px;     /* 20px from the bottom of the viewport */
  right: 5px;      /* 20px from the right of the viewport */
  z-index: 1000;    /* Keep it on top of other elements */
  max-width: 200px;
  overflow: auto;   /* Ensures that if the content exceeds the height, it scrolls */
}

.menu-polygon {
  width: 40px;
  height: 200px;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 10px;

  background: rgba(0, 0, 0, 0.3);

  font-size: 30px;
  text-align: center;
  line-height: 50px;
  padding-top: 10px;

  border-radius: 20px;

  z-index: 1;
}
/*
#toast {
  height: 50px;
  width: 80%;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -80%);
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  background: #D3D3D3;
}
*/
