@import "node_modules/ol/ol.css";
/*You can divide the styles in several css and latter
import them here*/
html, body {
  margin: 0;
  height: 100%;
}

/*Align items with flexbox*/
.container-exterior{
  /*Defines the element as flexbox container --> display: flex;
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  */
  display: flex;
  flex-direction: row;
  /*Background color*/
  background-color: antiquewhite;
  /*Elements in this container are centered --> IN THE HORIZONTAL AXYS,
  as flex-direction is row. Here yoy must use justify-content to center items,
  not align-items.*/
  justify-content: center;
}

/**************************/
/*Make resposive a web*/
/**************************/
/*Set the container width according the screen size of the client*/
/*Less than 5000px of screen with, the width of the container is 800px*/
/*@media (max-width:5000px){.container-interior {width: 1600px;background-color: aqua;}}*/
/*Less than 1800px of screen with, the width of the container is 1400px*/
/*@media (max-width:1800px){.container-interior {width: 1200px;background-color: rgb(0, 255, 76);}}*/
/*Less than 900px of screen with, the width of the container is 600px*/
/*@media (max-width:1200px){.container-interior {width: 1000px;background-color: rgb(0, 132, 255);}}*/
/*Less than  900px of screen with, the width of the container is 600px*/
/*@media (max-width:900px){.container-interior {width: 600px;background-color: rgb(255, 238, 0);}}*/

.container-interior{
  display: flex;
  flex-direction: column;
  /*Elements in this container are centered --> IN THE HORIZONTAL AXYS,
  as flex-direction is column. Here yoy must use aling-items to center items,
  not justify-content.*/
  align-items: center;
}

.form-login-button-container{
  display: flex;
  justify-content: center;
}

button{margin-right: 10px;}

/**El mapa ocupa el 100% de su contenedor, el div .container-interior*/
#map {
  width: 100%;
  height: 500px;
}

label{
  color:rgb(87, 165, 42)
}

